// Variables
$night: #111313ff;
$timberwolf: #d8d8d7ff;
$pureWhite: #fefefe;
$sepia: #713e19ff;
$outer-space: #494f50ff;
$yellow: #ffe417;
$green: #1db954;

// Global styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: $timberwolf;
  height: 100vh;
}
#main-content {
  margin: 0 auto;
  min-height: 100vh;
}
// skip content
.skip-link {
  position: fixed;
  top: -100px;
  min-height: 50px;
  left: 0;
  display: flex;
  align-items: center;
  padding: 10px;
  text-decoration: none;
  background-color: $outer-space;
  color: $timberwolf;
  border-radius: 10px;

  &:focus {
    position: fixed;
    top: 0;
    left: 0;
  }
}

// Navbar
header {
  background-color: $night;
  display: flex;
  align-items: center;
  justify-content: center;

  .skip-link {
    position: fixed;
    top: -40px;
    left: 0;
    padding: 10px;
    background-color: $outer-space;
    text-decoration: none;
    color: $timberwolf;

    &:focus {
      position: fixed;
      top: 0;
      left: 0;
    }
  }

  nav {
    display: flex;
    max-width: 1200px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 10vh;
    padding-inline: 20px;
  }

  .menu {
    position: absolute;
    max-height: 0;
    top: 10%;
    list-style-type: none;
    overflow: hidden;
    left: 0;
    right: 0;
    width: 100%;
    background-color: $night;
    transition: max-height 0.6s ease;
    flex-direction: column;
    z-index: 9999999;
  }

  .menu.active {
    max-height: 400px;
    transition: max-height 0.3s ease;
    z-index: 9999999;
  }

  .menu.active > .menu_item {
    opacity: 1;
    transition: opacity 0.3s ease;
  }

  .menu_item {
    opacity: 0;
    padding-bottom: 20px;
    text-align: center;
    margin: 25px auto;
    transition: opacity 0.3s ease;
  }

  .brand__logo {
    padding: 5px;
    min-height: 50px;
    display: flex;
    align-items: center;
    border-radius: 3px;
    display: flex;
    gap: 20px;
    text-decoration: none;

    img {
      width: 40px;
    }
    p {
      color: $timberwolf;
      font-size: 2em;
    }
  }

  .burger__menu {
    color: $timberwolf;
    background-color: $night;
    font-size: 2em;
    min-width: 50px;
    min-height: 50px;
    padding: 10px 20px;
    border: transparent;
    cursor: pointer;
    display: block;
  }

  .menu_item > a {
    text-decoration: none;
    color: $timberwolf;
    font-size: 1em;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-radius: 30px;
    transition: 0.2s all;
    margin: 10px;

    &:hover {
      background-color: $sepia;
    }
  }

  // Responsive Navbar
  @media screen and (min-width: 680px) {
    .burger__menu {
      display: none;
    }

    .menu {
      display: flex;
      gap: 20px;
      flex-direction: row;
      position: relative;
      max-height: none;
      align-items: center;
      overflow: hidden;
      padding-bottom: 20px;
      background-color: transparent;
      width: auto;
      transition: none;
    }

    .menu_item {
      padding-bottom: 0;
      margin: 0;
      opacity: 1;
      display: flex;
    }
  }
}

// Hero
.hero-container{
  position: relative;
  height: 90vh;
  
  .hero__image {
    width: 100%;
    height: 90vh;
    object-fit: cover;
    position: absolute; 
    top: 0;
    left: 0;
  }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 90vh;
      background-color: rgba(0, 0, 0, 0.5);
    }

  }
  .hero__inner {
    position: absolute;
    top: 50vh;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    z-index: 99;
    
    color: $timberwolf;
  
    .img__logo {
      img {
        width: 150px;
        margin: 0 auto;
      }
    }
  
    .hero__title {
      font-size: 1.5em;
      letter-spacing: 0.2em;
      font-family: "Montserrat";
      text-transform: uppercase;
      margin-bottom: 40px;
    }
  
    .tagline {
      font-family: sans-serif;
      font-size: 0.6rem;
      text-align: center;
    }
  }

// Restaurant List
.restaurant__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin:20px auto;
  padding-inline: 20px;
  max-width: 1200px;
}

.inner_restaurant {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 10px;

  h2 {
    font-family: "Montserrat";
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: $night;
  }

  p {
    font-size: 0.8em;
    color: $night;
  }
}

.restaurant-list {
  width: 100%;
  margin: auto;
  text-align: center;
  display: grid;
  gap: 10px;
}

.card {
  box-shadow: 7px 7px 14px #bcbcbb, -2px -2px 14px #f4f4f3;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: pointer;

  h2 {
    position: absolute;
    z-index: 999;
    bottom: 28px;
    left: 0;
    margin-left: 10px;
    margin-bottom: 4px;
    text-align: left;
    a {
      font-size: 1em;
      color: $timberwolf;
      text-decoration: none;
      padding: 20px 10px;
      min-height: 45px;
    }
  }

  .rating {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 0.8em;
    font-weight: bold;
    border: 1px solid $timberwolf;
    width: 60px;
    border-radius: 50px;
    color: $night;
    background-color: $pureWhite;
    padding: 3px 5px;
  }

  .city {
    position: absolute;
    bottom: 0;
    left: 10px;
    z-index: 999;
    font-size: 0.8em;
    margin-left: 10px;
    margin-bottom: 17px;
    display: flex;
    gap: 8px;
    color: $timberwolf;

    i {
      color: #db0000;
    }
  }

  picture{
    position: relative;
    width: 100%;
    height: 40vh;
    border-radius: 5px;

    .restaurant__image {
      position: absolute;
      width: 100%;
      left: 0;
      height: 100%;
      object-fit: cover;
    }
  }

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 80px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 50%, transparent);
  }

  &:hover {
    .blurry {
      display: block;
    }
  }

  .blurry {
    border-radius: 5px;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 0.7em;
    padding: 30px 5px;
    backdrop-filter: blur(1px);
    background-color: rgba(0, 0, 0, 0.7);
    color: $timberwolf;
  }
}

.card-content {
  position: relative;
}


@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

 .about__us {
  height: auto;
  background-color: $night;
  color: $timberwolf;
  
  
  .about__content {
    padding: 20px;
    max-width: 1000px;
    margin: auto;
    
    .tagline {
      text-align: center;
      text-transform: uppercase;
      font-size: 0.5em;
      letter-spacing: 0.2em;
      margin-top: 20px;
    }

    h2 {
      text-align: center;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      margin: 20px;
      font-size: 1.5em;
    }

    p {
      font-family: sans-serif;
      padding-block: 5px;
      line-height: 1.4em;
      text-align: center;
      font-size: 0.5em;
      padding: 0 15px;
    }
  }

  .image__container {
    display: flex;
    gap: 20px;
    padding-bottom: 50px;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    img {
      width: 300px;
      height: 150px;
      border-radius: 8px;
    }
  }
}

.detail__container {
  .fav-button {
    position: relative;
    button {
      position: fixed;
      z-index: 999999;
      bottom: 20px;
      right: 20px;
      display: flex;
      align-items: center;

      min-height: 60px;
      min-width: 60px;
      gap: 10px;
      border-radius: 50px;
      padding: 20px;
      border: none;
      outline: none;
      font-size: 1.2em;
      background-color: $yellow;
      cursor: pointer;
      transition: all 1.2s ease-in-out;

      p {
        display: none;
      }

      &:hover {
        p {
          display: block;
        }
      }
    }
  }
  .detail__header {
    background-color: $pureWhite;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;

    .detail__header__info {
      padding: 20px;
      display: flex;
      color: $night;
      flex-direction: column;
      gap: 10px;

      .detail__header__title {
        font-size: 1.4em;
        letter-spacing: 0.1em;
        text-align: center;
        text-transform: uppercase;
        font-weight: 300;
      }

      .detail__header__description {
        font-size: 0.67em;
        text-align: justify;
      }
    }

    .detail__header__banner {
      position: relative;

      .rating {
        position: absolute;
        top: 20px;
        left: 10px;
        background-color: $pureWhite;
        padding: 2px 20px;

        font-weight: bold;
        display: flex;
        gap: 10px;

        border-radius: 50px;
      }

      .location {
        position: absolute;
        bottom: 30px;

        left: 10px;
        display: flex;
        gap: 10px;

        z-index: 9999;
        color: white;

        i {
          color: #bd0000;
        }
      }

      img {
        max-width: 100%;
        height: 100%;
      }
      &::after {
        content: "";
        display: block;
        width: 100%;
        height: 50px;
        position: absolute;
        bottom: 5px;
        left: 0;
        background: linear-gradient(
          to top,
          rgba(0, 0, 0, 0.5) 50%,
          transparent
        );
        z-index: 8888;
      }
    }
  }

  .categories {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    background-color: $sepia;
    .categori__item {
      text-transform: uppercase;
      color: $pureWhite;
      font-size: 1em;
      letter-spacing: 0.2em;
    }
  }

  .menus {
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    gap: 10px;
    .menu-heading {
      font-size: 1.2em;
      justify-self: center;
      border-bottom: 1px solid black;
      width: 100px;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      text-align: center;
      font-weight: 100;
    }

    img {
      width: 100%;
      height: auto;
    }

    .menu-item {
      width: 100%;
      display: flex;
      justify-content: center;
      gap: 20px;
      h3 {
        font-size: 1em;
        text-transform: uppercase;
        margin-bottom: 10px;
      }

      p {
        font-size: 0.9em;
      }

      .foods {
        width: 50%;
        text-align: center;
        .food-list {
          display: flex;
          flex-direction: column;
          gap: 5px;
        }
      }

      .drinks {
        width: 50%;
        text-align: center;
        .drink-list {
          display: flex;
          flex-direction: column;
          gap: 5px;
        }
      }
    }
  }
  .reviews {
    padding: 20px;
    background-color: $pureWhite;
    .review-heading {
      font-size: 1.2em;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      text-align: center;
      font-weight: 100;
    }
    .review-list {
      display: grid;
      gap: 10px;
      margin-block-start: 20px;

      .review__card {
        box-shadow: 5px 5px 22px #d5d5d5, -5px -5px 22px #ffffff;
        border: 1px solid $outer-space;
        width: 100%;
        padding: 12px;
        min-height: 17vh;
        border-radius: 8px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        gap: 10px;

        .name {
          font-weight: lighter;
          font-size: 1.3em;
          text-transform: capitalize;
          border-bottom: 1px solid $outer-space;
        }
        .review {
          font-size: 0.83em;
        }
        .date {
          font-size: 0.64em;
          display: flex;
          gap: 10px;
        }
      }
    }
  }
}

.form-review {
  max-width: 1000px;
  margin: 30px auto;
  padding-block: 10px;
  border-radius: 10px;

  box-shadow: 2px 2px 10px #898989, -2px -2px 10px #ffffff;

  width: 100%;

  #review-form {
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;

    h2 {
      font-weight: lighter;
      font-size: 1.2em;
      margin-block-end: 10px;
      margin-inline-start: 10px;
    }
    .form-group {
      position: relative;
      display: flex;
      flex-direction: column;
      label {
        position: absolute;
        left: 0;
        margin: 8px 10px;
        pointer-events: none;
        padding: 1px 8px;
        font-size: 0.8rem;
        font-weight: bold;
        text-transform: capitalize;
        background-color: $pureWhite;
        color: $night;
        transition: 0.2s all ease-in-out;
      }
      input:focus ~ label,
      textarea:focus ~ label,
      input:valid ~ label,
      textarea:valid ~ label {
        transform: translate(4px, -13px);
        font-size: 0.6rem;
        color: $green;
      }
      input:focus,
      textarea:focus {
        border: 2px solid $green;
      }
      input {
        height: 48px;
      }
      input,
      textarea {
        border: 1px solid $night;
        border-radius: 12px;
        outline: none;
        padding: 10px 20px;
        font-size: 1.1em;
        font-weight: normal;
      }
      textarea {
        resize: vertical;
        height: 250px;
      }
    }
    .submit-button-review {
      max-width: 10rem;
      padding: 15px 20px;
      min-height: 50px;
      cursor: pointer;
      border: 2px solid transparent;
      border-radius: 10px;
      align-self: flex-end;
      margin-block-start: 10px;
      font-size: 1em;
      font-weight: bold;
      align-items: center;
      background-color: $green;
      color: $pureWhite;

      &:hover {
        background-color: $pureWhite;
        color: $green;
        border: 2px solid $green;
      }
    }
  }
}

// Footer
footer {
  width: 100%;
  background-color: $night;
  color: $timberwolf;
  height: 10%;
  padding: 50px 0;
  text-align: center;
}

@media screen and (min-width: 516px) {
  .inner_restaurant > h2,
  .about__us .about__content h2,
  .hero__inner .hero__title {
    font-size: 1.7em;
    letter-spacing: 0.2em;
  }

  .inner_restaurant p,
  .about__us .about__content p,
  .hero__inner .tagline {
    font-size: 0.8em;
  }
}
@media screen and (min-width: 680px) {
  .detail__container .categories {
    display: flex;
    align-items: center;
    background-color: $pureWhite;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    .categori__item {
      text-transform: uppercase;
      color: $night;
      font-size: 1em;
      letter-spacing: 0.2em;
    }
  }
  .detail__container .detail__header {
    flex-direction: row;
    padding: 50px 80px;
    gap: 20px;
    .detail__header__banner {
      img {
        max-width: 35vw;
        border-radius: 8px;
      }
      &::after {
        border-radius: 8px;
      }
    }
  }
  .detail__container .detail__content .menus {
    position: relative;
    // min-height: 100vh;
    display: flex;
    background-color: $timberwolf;
    img {
      position: absolute;
      top: 15%;
      width: 60%;
    }
    .menu-item {
      position: absolute;
      top: 25%;
      h3 {
        font-size: 1.4em;
        text-transform: uppercase;
        margin-bottom: 10px;
      }

      p {
        font-size: 1.2em;
      }
    }
    .foods {
      width: 40%;
      text-align: left;
      .food-list {
        display: flex;
        flex-direction: column;
        gap: 5px;
      }
    }
    .drinks {
      width: 40%;
      text-align: right;
      .drink-list {
        display: flex;
        flex-direction: column;
        gap: 5px;
      }
    }
  }
  .detail__container .reviews .review-list {
    grid-template-columns: 1fr 1fr;
  }
  .restaurant-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 780px) {
  .inner_restaurant p,
  .about__us .about__content p,
  .hero__inner .tagline {
    font-size: 0.9em;
  }

  .hero__inner .hero__title,
  .about__us .about__content h2,
  .inner_restaurant h2 {
    font-size: 2.5rem;
    letter-spacing: 0.4rem;
  }

  .about__us .image__container {
    flex-direction: row;
    justify-content: center;
    padding-bottom: 50px;
    
  }
}

@media screen and (min-width: 900px) {
  .detail__container .reviews .review-list {
    grid-template-columns: 1fr 1fr;
    padding: 20px 120px;
  }
  .about__us .image__container {
    flex-direction: row;
    gap: 10px;
  }
}

@media screen and (min-width: 1000px) {
  .inner_restaurant p,
  .about__us .about__content p,
  .hero__inner .tagline {
    font-size: 1.1em;
  }

  .hero__inner .hero__title,
  .about__us .about__content h2 {
    font-size: 3.8rem;
    letter-spacing: 0.5rem;
  }
  .restaurant-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .about__us .image__container img {
    width: 450px;
    height: 250px;
    object-fit: cover;
  }

  .detail__container .detail__header {
    flex-direction: row;
    height: 100vh;
    padding: 50px 80px;
    gap: 20px;
    .detail__header__banner {
      img {
        max-width: 45vw;
        border-radius: 8px;
      }
    }
    .detail__header__info {
      .detail__header__title {
        font-size: 2em;
        letter-spacing: 0.1em;
      }
      .detail__header__description {
        font-size: 0.9em;
        letter-spacing: 0.1em;
      }
    }
  }
}
